{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
      "browser": true,
      "node": true,
      "commonjs": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "plugins": ["@typescript-eslint", "prettier"]
  }
  